.off-screen-menu {
  background-color: rgba(13, 11, 11, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 50;
}

.off-screen-menu.active {
  right: 0;
}

.off-screen-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.off-screen-menu li {
  margin: 30px 0;
}

.off-screen-menu a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

/* burger */
.mobile-nav {
  padding: 0;
}

.ham-menu {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: rgb(211, 176, 107);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

/* x */
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.desktop-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 799px) {
  .mobile-nav {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .desktop-nav {
    display: none;
  }
}

@media (min-width: 800px) {
  .mobile-nav {
    display: none;
  }

  .off-screen-menu {
    display: none;
  }
}
